#ball {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#Obj1 {
  cursor: pointer;
}

#Obj2 {
  cursor: pointer;
}

#Obj3 {
  cursor: pointer;
}

#Obj4 {
  cursor: pointer;
}

#Obj5 {
  cursor: pointer;
}

#Obj6 {
  cursor: pointer;
}

#Obj7 {
  cursor: pointer;
}

#Obj8 {
  cursor: pointer;
}

#Obj9 {
  cursor: pointer;
}

#Obj10 {
  cursor: pointer;
  width: 80px;
  height: 40px;
}
