body {
    background: black !important;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
#story {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem !important;
    padding: 0 !important;
    min-height: initial !important;
    background: transparent !important;
    position: fixed !important;
    bottom: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}

#story-title {
	color: #FFF;
}

tw-icon[alt] {
    opacity: 1 !important;
    color: #FFF !important;
}

#passages {
    color: #333 !important;
    width: 100% !important;
    max-width: 100% !important;
  margin-left: 30px;
}

.link-internal {
    color: #333 !important;
    background: #f7f7f7 !important;
    padding: 10px 14px !important;
    margin: 2px;
    border-radius: 3px !important;
    display: block !important;
    width: 20%;
    text-decoration: none !important;
}

.link-internal:hover {
    background: #d9d9d9 !important;
    text-decoration: none;
}

tw-sidebar {
    left: 5% !important;
    width: 3em !important;
    z-index: 2 !important;
    flex-direction: row !important;
    position: fixed;
    top: 0 !important;
}

#pass {
    background-color: #fff;
    padding: 2% 5%;
    max-height: 100vh;
    max-width: 100vw;
    overflow-y: scroll;
    z-index: 15;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#pass::-webkit-scrollbar {
    width: 1rem;
    transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
}
 
#pass::-webkit-scrollbar-track {
    -webkit-box-shadow: 0;
    background-color: rgba(160, 160, 160, 0.3);
}
 
#pass::-webkit-scrollbar-thumb {
    background-color: rgba(52,52,52,0.3);
    outline: 1px solid rgba(52,52,52,0.3);
}

#pass svg {
	width: 30%;
}

button {
    background: transparent !important;
    border: 0 !important;
}

.flex-collection {
	display: flex;
    align-items: stretch;
}

.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#loading {
    display: block;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    position: fixed;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
	z-index: 12;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.plyr__controls {
	position: fixed !important;
  	left: 30px !important;
}

br {
	display: none;
}

.load-window {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
}