<!DOCTYPE HTML>

<html>
	<head>
		<title>Arts-Based Curriculum </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		
         <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> 
		
		<link rel="stylesheet" href="../assets/css/custom.css">
		<link rel="stylesheet" href="../assets/css/common.css" />
		<link rel="stylesheet" href="../assets/css/typography.css" />

		<link rel="stylesheet" media="print" href="../assets/css/print.css" />

		<!--[if lte IE 9]><link rel="stylesheet" href="../assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	</head>
	<body class="fade-in modal-light" ng-app="app">
        <header id="header">
            <a href="../activities.html" class="borderless primary-text back-button"><i class="fas fa-arrow-left"></i> Back to Activities</a>
        </header>

		<section class="internal-content behaviour-app">

			<div class="container">
			    <div class="progress light">
                  <div class="progress-bar past-bar" role="progressbar" style="width: 33.3%;" aria-valuenow="33.33" aria-valuemin="0" aria-valuemax="100">Student Profiles</div>
                  <div class="progress-bar past-bar" role="progressbar" style="width: 33.3%;" aria-valuenow="33.33" aria-valuemin="0" aria-valuemax="100">Individuals Information</div>
                  <div class="progress-bar" role="progressbar" style="width: 33.3%;" aria-valuenow="33.33" aria-valuemin="0" aria-valuemax="100">Behavioural Plan</div>
                </div>
                
				<h3 class="mb30 text-center">Carlos' Behavioural Plan</h3>
				<p class="mb30 text-center">After reviewing the child's information, develop a behavioural plan by completing all of the text fields below under each tab. To revisit the reports for each student hover on the chevron in the right panel. After completing the final tab, save your plan by selecting the 'Download PDF' at the bottom of your screen.</p>

				<nav class="nav nav-tabs nav-pills nav-justified nav-form">
					<a class="nav-item nav-link active" id="nav-0-tab" data-toggle="tab" href="#nav-0-content" role="tab" aria-controls="nav-0-content" aria-selected="true">Teacher <br>Information</a>
					<a class="nav-item nav-link" id="nav-1-tab" data-toggle="tab" href="#nav-1-content" role="tab" aria-controls="nav-1-content" aria-selected="true">Behavior Hypothesis<br>Statements</a>
					<a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2-content" role="tab" aria-controls="nav-2-content" aria-selected="false">Prevention<br>Strategies</a>
					<a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3-content" role="tab" aria-controls="nav-3-content" aria-selected="false">Replacement<br>Skills</a>
					<a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4-content" role="tab" aria-controls="nav-4-content" aria-selected="false">Consequence<br>Strategies</a>
					<a class="nav-item nav-link" id="nav-5-tab" data-toggle="tab" href="#nav-5-content" role="tab" aria-controls="nav-5-content" aria-selected="false">Long Term<br>Strategies/Evaluation</a>
				</nav>
				
				<div ng-controller="appController">
					<div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-0-content" role="tabpanel" aria-labelledby="nav-0-tab">

                            <form name="form" novalidate>
                                <div class="observation-document">
                                    <div class="form-group">
                                        <label for="title0" name="label0">Teacher</label>
                                        <input type="text" name="title0" id="title0" ng-model="title0" class="form-control" placeholder="Your Name">
                                    </div>
                                </div>
                            </form>

                        </div><!-- end nav-0-content -->
						<div class="tab-pane fade " id="nav-1-content" role="tabpanel" aria-labelledby="nav-1-tab">
							
							<form name="form" novalidate>
								<div class="observation-document">
									<div class="form-group">
										<label for="title1" name="labelA">Title</label>
										<input type="text" name="title1" id="title1" ng-model="title1" class="form-control" >
									</div>

									<div class="form-group">
										<label for="textArea1" name="labelB">Hypothesis</label>
										<textarea id="textArea1" name="observation" ng-model="textArea1" ng-disabled="limit" cols="30" rows="10" ></textarea>
									</div>
								</div>
							</form>

						</div><!-- end nav-1-content -->
						<div class="tab-pane fade" id="nav-2-content" role="tabpanel" aria-labelledby="nav-2-tab">

							<form name="form" novalidate>
								<div class="observation-document">
									<div class="form-group">
										<label for="title2" name="labelA2">Title</label>
										<input type="text" name="title2" id="title2" ng-model="title2" class="form-control" >
									</div>

									<div class="form-group">
										<label for="textArea2" name="labelB2">Strategies</label>
										<textarea id="textArea2" name="observation" ng-model="textArea2" ng-disabled="limit" cols="30" rows="10" ></textarea>
									</div>
								</div>
							</form>

						</div><!-- end nav-2-content -->
						<div class="tab-pane fade" id="nav-3-content" role="tabpanel" aria-labelledby="nav-3-tab">
						
							<form name="form" novalidate>
								<div class="observation-document">
									<div class="form-group">
										<label for="title3" name="labelA3">Title</label>
										<input type="text" name="title3" id="title3" ng-model="title3" class="form-control" >
									</div>

									<div class="form-group">
										<label for="textArea1" name="labelB3">Skills</label>
										<textarea id="textArea3" name="observation" ng-model="textArea3" ng-disabled="limit" cols="30" rows="10" ></textarea>
									</div>
								</div>
							</form>

						</div><!-- end nav-3-content -->
						<div class="tab-pane fade" id="nav-4-content" role="tabpanel" aria-labelledby="nav-4-tab">
						
							<form name="form" novalidate>
								<div class="observation-document">
									<div class="form-group">
										<label for="title4" name="labelA4">Title</label>
										<input type="text" name="title4" id="title4" ng-model="title4" class="form-control" >
									</div>

									<div class="form-group">
										<label for="textArea4" name="labelB4">Strategies</label>
										<textarea id="textArea4" name="observation" ng-model="textArea4" ng-disabled="limit" cols="30" rows="10" ></textarea>
									</div>
								</div>
							</form>
						
						</div><!-- end nav-4-content -->
						<div class="tab-pane fade" id="nav-5-content" role="tabpanel" aria-labelledby="nav-5-tab">
						
							<form name="form" novalidate>
								<div class="observation-document">
									<div class="form-group">
										<label for="title" name="labelA5">Title</label>
										<input type="text" name="title5" id="title5" ng-model="title5" class="form-control" >
									</div>

									<div class="form-group">
										<label for="textArea5" name="labelB5">Strategies/Evaluation</label>
										<textarea id="textArea5" name="observation" ng-model="textArea5" ng-disabled="limit" cols="30" rows="10" ></textarea>
									</div>
								</div>
							</form>
						
						</div><!-- end nav-5-content -->
					</div>
					
					
					<div class="button-container"><a class="hero-button" ng-click="saveAsPDF()" ng-disabled="disableSubmit " name="submit"><span>Download PDF</span></a></div>
					
				</div><!-- end $appController -->
				
			</div><!-- end .container -->
		</section><!-- end .internal-content -->
        
        <div class="environment-setup">
           
            <div class="instructions">Hover to Open</div>
            <div class="pull-out">
                <div class="pull-lever"><i class="fas fa-chevron-left"></i></div>
                <div class="pull-content">
                    <div class="pull-item doc-item" data-toggle="modal" data-target="#modalD">
                        <img src="../images/file-icon.svg">
                        <span class="label">Biography</span>
                    </div>
                    <div class="pull-item doc-item" data-toggle="modal" data-target="#modalA">
                        <img src="../images/folder-icon.svg">
                        <span class="label">Observation Cards</span>
                    </div>
                    <div class="pull-item doc-item" data-toggle="modal" data-target="#modalB">
                        <img src="../images/folder-icon.svg">
                        <span class="label">Charts</span>
                    </div>
                    <div class="pull-item doc-item" data-toggle="modal" data-target="#modalC">
                        <img src="../images/file-icon.svg">
                        <span class="label">Interview Form</span>
                    </div>
                </div>
            </div>
        </div>

        <!------------------ Bootstrap Modal --->

        <div class="modal fade-in" id="modalD" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body"> 
                        <button type="button" class="modal-button primary-text mb30" data-dismiss="modal"><i class="fas fa-times"></i></button>
                        
                        <div class="observation-document">
                            <div class="slide-image" style="background: url('../images/profiles/profile11.jpg');"></div>
                            <h6 class="mb30 text-center">Carlos, 2 yrs</h6>
                            
                            <p>Carlos is a two and a half year old little boy who lives with his mother, father, and 5-year-old sister. He attends a local community preschool. Carlos is able to communicate using 2-4 word combinations, is toilet trained, and enjoys eating and listening to stories. Carlos is on a special diet due to multiple food allergies and he is on medication for chronic asthma and allergies</p>
                            
                            <p>Carlos’ parents report that they have had a very difficult time getting his allergies and asthma undercontrol and they think that when he has a flare up and is on multiple medications that he loses sleep and his challenging behaviors seem to increase. When his sister tries to use the same toys that Carlosis playing with, he will hit and pinch her until she returns the toys or plays with something else. He is constantly trying to get his parents to play with him and when they can’t he will hit them. Parents admit that they often “give in” to him because they don’t want him to continue hitting.</p>
                       
                            <p>At preschool, his teachers report that Carlos is very aggressive towards the other children and attimes with the adults. He will hit, pinch, and sometimes bite. He is most likely to have challengingbehaviors during activities where he has to share or turn take or when a peer takes a toy that he wants. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        
        <div class="modal fade-in" id="modalA" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body"> 
                        <button type="button" class="modal-button primary-text mb30" data-dismiss="modal"><i class="fas fa-times"></i></button>
                        
                        <div class="observation-document">
                            <h5 class="mb30">Observation Card</h5>
                           
                            <div class="flex-collection">
                                <div class="flex-3">
                                    <p>Name: <span class="underline">Carlos</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Observer: <span class="underline">Teacher</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Date: <span class="underline">1/9</span></p>
                                </div>
                                
                                <div class="flex-3">
                                    <p>General Context: <span class="underline">1st Circle</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Time: <span class="underline">9:05am</span></p>
                                </div>
                                <div class="flex-3">
                                    
                                </div>
                                
                                <div class="flex-full">
                                    <p>Trigger: <span class="underline">Teacher comes around with the basket of instruments. Each child pulls a choice out of the bucket. The child next to Carlos makes a choice.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Challenging Behaviour: <span class="underline">Carlos hits and then pinches the child next to him.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Maintaining Consequence: <span class="underline">The child cries out and then puts the instrument back in the basket and gets another. Teacher tells Carlos, “No! Gentle touches.”</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Possible Function:</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="observation-document">
                           <h5 class="mb30">Observation Card</h5>
                           
                            <div class="flex-collection">
                                <div class="flex-3">
                                    <p>Name: <span class="underline">Carlos</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Observer: <span class="underline">Teacher</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Date: <span class="underline">1/9</span></p>
                                </div>
                                
                                <div class="flex-3">
                                    <p>General Context: <span class="underline">Centers</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Time: <span class="underline">9:45am</span></p>
                                </div>
                                <div class="flex-3">
                                    
                                </div>
                                
                                <div class="flex-full">
                                    <p>Trigger: <span class="underline">Children are playing in centers. Carlos is playing in blocks with the blocks and dump truck. Child reaches for a block.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Challenging Behaviour: <span class="underline">Carlos goes to hit the child on the arm when he takes the block.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Maintaining Consequence: <span class="underline">The child quickly drops the block and goes to the shelf to get another block.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Possible Function:</p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="observation-document">
                           <h5 class="mb30">Observation Card</h5>
                           
                            <div class="flex-collection">
                                <div class="flex-3">
                                    <p>Name: <span class="underline">Carlos</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Observer: <span class="underline">Teacher</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Date: <span class="underline">1/9</span></p>
                                </div>
                                
                                <div class="flex-3">
                                    <p>General Context: <span class="underline">Outside Play</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Time: <span class="underline">4:35pm</span></p>
                                </div>
                                <div class="flex-3">
                                    
                                </div>
                                
                                <div class="flex-full">
                                    <p>Trigger: <span class="underline">Teacher gets up from the sand box and begins to leave.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Challenging Behaviour: <span class="underline">Carlos hits the teacher’s leg as she begins to leave.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Maintaining Consequence: <span class="underline">The teacher sits back down and says, “ Oh you want me to play with you some more. Tell me, sit down.”.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Possible Function:</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="observation-document">
                           <h5 class="mb30">Observation Card</h5>
                            
                            <div class="flex-collection">
                                <div class="flex-3">
                                    <p>Name: <span class="underline">Carlos</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Observer: <span class="underline">Mother</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Date: <span class="underline">1/6</span></p>
                                </div>
                                
                                <div class="flex-3">
                                    <p>General Context: <span class="underline">Visit Same Age Cousin</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Time: <span class="underline">1:00pm</span></p>
                                </div>
                                <div class="flex-3">
                                    
                                </div>
                                
                                <div class="flex-full">
                                    <p>Trigger: <span class="underline">Cousins are playing with cars and trucks.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Challenging Behaviour: <span class="underline">Carlos hits, then pinches his cousin.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Maintaining Consequence: <span class="underline">Aunt goes to help the cousin and Carlos plays with cars and trucks.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Possible Function:</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="observation-document">
                           <h5 class="mb30">Observation Card</h5>
                           
                            <div class="flex-collection">
                                <div class="flex-3">
                                    <p>Name: <span class="underline">Carlos</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Observer: <span class="underline">Mother</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Date: <span class="underline">1/8</span></p>
                                </div>
                                
                                <div class="flex-3">
                                    <p>General Context: <span class="underline">Outside Play</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Time: <span class="underline">6:00pm</span></p>
                                </div>
                                <div class="flex-3">
                                    
                                </div>
                                
                                <div class="flex-full">
                                    <p>Trigger: <span class="underline">Daddy and Carlos are playing together with the “Bob-the-Builder Legos.” Mommy comes to the doorway to tell them it’s time to wash for dinner. Dad gets up.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Challenging Behaviour: <span class="underline">Carlos hits Dad’s leg.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Maintaining Consequence: <span class="underline">Dad sits back and says, “a few more minutes, then wash hands.”</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Possible Function:</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="observation-document">
                           <h5 class="mb30">Observation Card</h5>
                           
                            <div class="flex-collection">
                                <div class="flex-3">
                                    <p>Name: <span class="underline">Carlos</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Observer: <span class="underline">Mother</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Date: <span class="underline">1/8</span></p>
                                </div>
                                
                                <div class="flex-3">
                                    <p>General Context: <span class="underline">Nebulizer Treatment</span></p>
                                </div>
                                <div class="flex-3">
                                    <p>Time: <span class="underline">8:00pm</span></p>
                                </div>
                                <div class="flex-3">
                                    
                                </div>
                                
                                <div class="flex-full">
                                    <p>Trigger: <span class="underline">Sitting on the couch with mommy watching “Bob-the-Builder” while doing nebulizer treatment.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Challenging Behaviour: <span class="underline">Begins to hit mommy.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Maintaining Consequence: <span class="underline">Dad physically holds Carlos while mother finishes the treatment.</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Possible Function:</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade-in" id="modalB" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body"> 
                        <button type="button" class="modal-button primary-text mb30" data-dismiss="modal"><i class="fas fa-times"></i></button>
                        
                        <div class="observation-document">
                            <h5 class="mb30">Monday Chart</h5>
                            
                            <div class="flex-collection">
                                <div class="flex-full">
                                    <p>Name: <span class="underline">Carlos</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Notes: <span class="underline">N/A</span></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Regular Medication</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Prednisone and used nebulizer</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Slept through night</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Woke 2 or more times night prior</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Has sinus ear</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>A few problems</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Very aggressive</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>No problems</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="observation-document">
                            <h5 class="mb30">Tuesday Chart</h5>
                            
                            <div class="flex-collection">
                                <div class="flex-full">
                                    <p>Name: <span class="underline">Carlos</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Notes: <span class="underline">N/A</span></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Regular Medication</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Prednisone and used nebulizer</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Slept through night</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Woke 2 or more times night prior</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Has sinus ear</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>A few problems</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Very aggressive</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>No problems</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                            </div>
                    </div>
                    
                        <div class="observation-document">
                            <h5 class="mb30">Wednesday Chart</h5>
                            
                            <div class="flex-collection">
                                <div class="flex-full">
                                    <p>Name: <span class="underline">Carlos</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Notes: <span class="underline">N/A</span></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Regular Medication</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Prednisone and used nebulizer</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Slept through night</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Woke 2 or more times night prior</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Has sinus ear</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>A few problems</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Very aggressive</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>No problems</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="observation-document">
                            <h5 class="mb30">Thursday Chart</h5>
                            
                            <div class="flex-collection">
                                <div class="flex-full">
                                    <p>Name: <span class="underline">Carlos</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Notes: <span class="underline">N/A</span></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Regular Medication</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Prednisone and used nebulizer</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Slept through night</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Woke 2 or more times night prior</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Has sinus ear</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>A few problems</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Very aggressive</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>No problems</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="observation-document">
                            <h5 class="mb30">Friday Chart</h5>
                            
                            <div class="flex-collection">
                                <div class="flex-full">
                                    <p>Name: <span class="underline">Carlos</span></p>
                                </div>
                                <div class="flex-full">
                                    <p>Notes: <span class="underline">N/A</span></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Regular Medication</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Prednisone and used nebulizer</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Slept through night</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Woke 2 or more times night prior</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Has sinus ear</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>A few problems</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>Very aggressive</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-check"></i></p>
                                </div>
                                
                                <div class="block flex-2">
                                    <p>No problems</p>
                                </div>
                                <div class="block flex-2">
                                    <p><i class="fas fa-times"></i></p>
                                </div>
                                
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade-in" id="modalC" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body"> 
                        <button type="button" class="modal-button primary-text mb30" data-dismiss="modal"><i class="fas fa-times"></i></button>
                        
                        <iframe src="../behaviour/interviewForm-Carlos.pdf" width="100%" height="1200px"></iframe>
                    </div>
                </div>
            </div>
        </div>

		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/bootstrap.js"></script>
        
		<script src="../assets/js/skel.min.js"></script>
		<script src="../assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="../assets/js/main.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

        <script>
            $(document).ready(function(){
                $("#instructions").modal('show');
            });

			var app = angular.module("app", []);
			app.controller("appController", function($scope) {
				$scope.saveAsPDF = function(){

					let pdf = new jsPDF();
                    var textArea1 = ($scope.textArea1 ? $scope.textArea1 : ""),
                        textArea2 = ($scope.textArea2 ? $scope.textArea2 : ""),
                        textArea3 = ($scope.textArea3 ? $scope.textArea3 : ""),
                        textArea4 = ($scope.textArea4 ? $scope.textArea4 : ""),
                        textArea5 = ($scope.textArea5 ? $scope.textArea5 : ""),
                        splitText1 = pdf.splitTextToSize(textArea1, 180),
                        splitText2 = pdf.splitTextToSize(textArea2, 180),
                        splitText3 = pdf.splitTextToSize(textArea3, 180),
                        splitText4 = pdf.splitTextToSize(textArea4, 180),
                        splitText5 = pdf.splitTextToSize(textArea5, 180);

					pdf.setFont("helvetica");
					pdf.setFontSize(12);

					pdf.text(20, 20, "Carlos' Behavioural Plan");
					pdf.text(20, 30, ($scope.title0 ? $scope.title0 : "") );
					pdf.text(20, 50, "Behavior Hypothesis Statements");
					pdf.text(20, 60, ($scope.title1 ? $scope.title1 : "") );
					pdf.text(20, 80, splitText1 );

					pdf.addPage();
					
					pdf.text(20, 20, "Prevention Strategies");
					pdf.text(20, 30, ($scope.title2 ? $scope.title2 : "") );
					pdf.text(20, 60, splitText2 );

					pdf.addPage();
					
					pdf.text(20, 20, "Replacement Skills");
					pdf.text(20, 30, ($scope.title3 ? $scope.title3 : "") );
					pdf.text(20, 60, splitText3 );

					pdf.addPage();
					
					pdf.text(20, 20, "Consequence Strategies");
					pdf.text(20, 30, ($scope.title4 ? $scope.title4 : "") );
					pdf.text(20, 60, splitText4 );

					pdf.addPage();
					
					pdf.text(20, 20, "Long Term Strategies/Evaluation");
					pdf.text(20, 30, ($scope.title5 ? $scope.title5 : "") );
					pdf.text(20, 60, splitText5 );
					
					pdf.save(($scope.title0 ? $scope.title0 : "") + '-behaviour-plan-carlos.pdf');
					
				};
			} );
            //Script can be found at : https://rawgit.com/MrRio/jsPDF/master/docs/index.html
        </script>
		
	</body>
</html>
